<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Nurix.kg{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/nurix/css/mainframe.css') }} " type="text/css" rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="mainframe">
    <header>
        <div class="center">
        <div class="header_line">
                {% block mainMenu %}
                {{ knp_menu_render('main',{template : '::main_menu.html.twig'}) }}
                {% endblock %}
            <div class="search">
                <form action="" name="forma">
                <input type="text" class="search" value="Поиск..." name="poisk" onblur="dob();" onfocus="del();"/>
                <input type="submit" value="">
                </form>
            </div>
            <div>
                <a class="vhod" href="/">Вход</a>
            </div>
            <a href="/">
                <div class="button f12">
                    Зарегистрироваться
                </div>
            </a>
        </div>
        <div class="header_line2">
            <div id="logo">
                <a href="/"><img src="{{ asset('bundles/nurix/images/logo.png') }}" alt="header"/></a>
            </div>
            <div id="contacts">
                <span class="gray_color f14">+996</span>
                <span class="f18">555</span>
                <span class="f24">231</span>
                <span class="f24">654</span><br>
                <span class="gray_color f14">+996</span>
                <span class="f18">312</span>
                <span class="f24">987</span>
                <span class="f24">159</span>
            </div>
            <div align="left" id="times">
                <span class="gray_color">Время работы:</span><br>
                <span class="gray_color">c</span>
                <span class="gray_color f20">9:00</span>
                <span class="gray_color">до</span>
                <span class="gray_color f20">18:00</span><br>
                <img class="otstup" src="{{ asset('bundles/nurix/images/days.png') }}" alt="header"/>
            </div>
            <div class="korzina" align="left">
                <div class="brown_color">
                    <img src="{{ asset('bundles/nurix/images/korzinka.png') }}" alt="header">Ваша корзина:<br></div>
                <div class="otstup">5 товаров</div>
                <div class="otstup">на сумму 45000 сомов</div>
            </div>
            <div class="line">

            </div>
 </div>


</div>
</header>
    <div class="clearbox"></div>
    <div class="middle center">
        <div class="leftColumn">
                {% block side_menu %}
                    {{ knp_menu_render('sidebar') }}
                {% endblock %}
            <div class="interesting">
                <h4>Интересное</h4>
                Наши новости<br>
                Мировые новости<br>
                О нас<br>
                ...<br>
            </div>
            <div class="feedbacks">
                feedbacks
            </div>
        </div>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
    </div>

    <footer>
        <div class="footerLine"></div>
        <div class="footerBackgroung">
        <div class="center">
            <div class="footer">

                <div class="footerColumn">

                    <div class="logoFooter">
                        <a href="/"><img src="{{ asset('bundles/nurix/images/logoFooter.png') }}"/></a>
                    </div>

                    <div class="aboutUsText f12">
                        Изменение глобальной стратегии,
                        как следует из вышесказанного,
                        программирует стратегический
                        презентационный материал,
                        оптимизируя бюджеты. Более того,
                        метод изучения рынка экономит BTL,
                        расширяя долю рынка.
                        Представляется логичным,
                        что общество потребления не
                        критично. Выставочный стенд
                        довольно хорошо сбалансирован
                        <br/>
                        <a href="">подробнее о магазине...</a>
                    </div>

                    <div class="f12 white_color">
                        © Nurix.kg, 2010 - 2013
                    </div>

                </div>

                <div class="footerColumn">

                    <div class="f20 white_color">
                        Карта Сайта:
                    </div>

                    <ul class="siteMapLinks">
                        <li><a href="">Аудиотехника</a></li>
                        <li><a href="">Видеотехника</a></li>
                        <li><a href="">Компьютерные комплектующие</a></li>
                        <li><a href="">Оргтехника</a></li>
                        <li><a href="">Ноутбуки</a></li>
                        <li><a href="">Нетбуки</a></li>
                        <li><a href="">Планшеты</a></li>
                        <li><a href="">Сотовые телефоны</a></li>
                        <li><a href="">Фототехника</a></li>
                        <li><a href="">Климат</a></li>
                        <li><a href="">Крупная бытовая техника</a></li>
                        <li><a href="">Мелкая бытовая техника</a></li>
                    </ul>

                </div>

                <div class="footerColumn">
                    <ul class="otherLinks">

                        <li><a href="">Наши новости</a></li>
                        <li><a href="">Мировые новости</a></li>
                        <li><a href="">О магазине</a></li>
                        <li><a href="">Контакты</a></li>
                        <li><a href="">Условия доставки</a></li>
                        <li><a href="">Способы оплаты</a></li>
                        <li><a href="">Справка</a></li>
                        <li><a href="">Отзывы</a></li>
                        <li><a href="">Оптовым покупателям</a></li>

                    </ul>
                </div>

                <div class="footerColumn footerColumnLast">

                    <div class="shareLinks">
                        <a href=""><img src="{{ asset('bundles/nurix/images/icon/fb_icon.png') }}"></a>
                        <a href=""><img src="{{ asset('bundles/nurix/images/icon/ok_icon.png') }}"></a>
                        <a href=""><img src="{{ asset('bundles/nurix/images/icon/twit_icon.png') }}"></a>
                    </div>

                    <div class="f20 white_color">
                        <div class="clearbox"></div>
                        Подписка на новости:
                        <form action="" name="forma2">
                            <input type="text" class="podpiska" value=" Введите ваш электронный адрес" name="podpiska" onblur="add_value();" onfocus="delete_value();"/>
                        </form>
                    </div>

                    <div class="button_podpiska">
                            <a href="/"><img src="{{ asset('bundles/nurix/images/buttonPodpiska.png') }}"/></a>
                    </div>

                </div>

            </div>

        </div>
            <div class="clearbox"></div>
        </div>
    </footer>

</div>


{% block javascripts %}
    <script src="{{ asset('bundles/nurix/js/header.js') }}" type="text/javascript" lang="javascript"></script>
{% endblock %}

</body>
</html>