<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Nurix.kg{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('public/css/mainframe.css') }} " type="text/css" rel="stylesheet"/>
        <link type="text/css" rel="stylesheet" href="{{ asset("public/css/facebook.css") }}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset("bundles/applicationsonatauser/css/sonata.css") }}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset("public/css/jquery-ui.css") }}"/>
    {% endblock %}
    <script type="text/javascript" language="javascript">
        var base_url = "{{ path('nurix_homepage') }}";
    </script>
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset("public/js/facebook.js") }}"></script>
        <script type="text/javascript" src="{{ asset("public/js/jquery-1.9.0.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("public/js/html5placeholder.jquery.js") }}"></script>
        <script type="text/javascript" src="{{ asset("public/js/jquery-ui.min.js") }}"></script>
        <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
        <script type="text/javascript" src="{{ asset("bundles/applicationsonatauser/js/registration.js") }}"></script>
        <script type="text/javascript" src="{{ asset("public/js/jquery.pwstrength.js") }}"></script>
        <script type="text/javascript"  src="{{  asset("bundles/catalog/js/bin.js")}}"></script>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div id="fb-root"></div>
<div class="mainframe">
<header>
    <div class="center">
        <div class="header_line">
            {% block mainMenu %}
                {{ knp_menu_render('main',{template : '::main_menu.html.twig'}) }}
            {% endblock %}
            <div class="search">
                {%  render 'NurixBundle:Search:ShowForm'  %}
            </div>
            <div class="vhod_div">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    <div id="vhod_message">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                        |
                    </div>

                    <div class="vhod">
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </div>

                {% else %}
                {% if app.request.attributes.get('_route') != 'fos_user_security_login' %}
                    <a class="vhod" id="register_button_id">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}

                    <a href="{{ path('fos_user_registration_register') }}">
                        <div class="button f12" id="">
                            Зарегистрироваться
                        </div>
                    </a>
                {% endif %}
                {# popup login#}
                <div id="registration_form" style="display: none" title="Войти">
                    {#{% render url('fos_user_security_login') %}#}
                    {% include 'ApplicationSonataUserBundle:Security:login_popup.html.twig' %}
                </div>
                {#END popup login#}

                <div id="tovar-added" title="Товар добавлен в корзину">

                </div>

            </div>

        </div>

        <div class="header_line2">

            <div id="logo">
                <a href="{{ path("nurix_homepage") }}"><img src="{{ asset('public/img/logo.png') }}" alt="header"/></a>
            </div>
            <div id="contacts">
                <span class="gray_color f14">+996</span>
                <span class="f18">555</span>
                <span class="f24">414</span>
                <span class="f24">125</span><br>
                <span class="gray_color f14">+996</span>
                <span class="f18">707</span>
                <span class="f24">414</span>
                <span class="f24">125</span>
            </div>
            <div align="left" id="times">
                <span class="gray_color">Время работы:</span><br>
                <span class="gray_color">c</span>
                <span class="gray_color f20">9:00</span>
                <span class="gray_color">до</span>
                <span class="gray_color f20">18:00</span><br>
                <img class="otstup" src="{{ asset('public/img/days.png') }}" alt="header"/>
            </div>
            <div class="korzina" id="bin_widget" align="left">
                {% render 'CatalogBundle:Bin:mainBin' %}
            </div>
        </div>
        <div class="clearbox"></div>
        <hr class="main_hr">
    </div>
    {% block slider %}
    {% endblock %}

</header>
<div class="clearbox"></div>
<div class="middle center">
    <div class="leftColumn">
        {% block catalog_menu %}
            {{ knp_menu_render('catalog_sidebar', {'currentClass': 'current'}) }}
        {% endblock %}
        <div class="interesting">
            {% block side_menu %}
                {{ knp_menu_render('info_sidebar', {'currentClass': 'current'}) }}
            {% endblock %}
        </div>
        <div class="feedbacks">
            feedbacks
        </div>
        <div class="facebook_page">
            {% block facebook_page %}
                <fb:fan profile_id="128170930622470" stream="0" connections="6" width="210px"
                        header="0" logobar="0"
                        css="http://diplom.sytes.net/nurix/web/public/css/facebook.css?v=4"></fb:fan>
            {% endblock %}
        </div>

    </div>
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
</div>
<div class="clearbox"></div>
<footer>
    <div class="footerLine"></div>
    <div class="footerBackgroung">
        <div class="center">
            <div class="footer">

                <div class="footerColumn">

                    <div class="logoFooter">
                        <a href="/"><img src="{{ asset('public/img/logoFooter.png') }}"/></a>
                    </div>

                    <div class="aboutUsText f12">
                        Изменение глобальной стратегии,
                        как следует из вышесказанного,
                        программирует стратегический
                        презентационный материал,
                        оптимизируя бюджеты. Более того,
                        метод изучения рынка экономит BTL,
                        расширяя долю рынка.
                        Представляется логичным,
                        что общество потребления не
                        критично. Выставочный стенд
                        довольно хорошо сбалансирован
                        <br/>
                        <a href="">подробнее о магазине...</a>
                    </div>

                    <div class="f12 white_color">
                        © Nurix.kg, 2011 - {{ "now"|date("Y") }}
                    </div>
                </div>


                <div class="footerColumn">

                    <div class="f20 white_color">
                        Карта Сайта:
                    </div>

                    <ul class="siteMapLinks">
                        <li><a href="">Аудиотехника</a></li>
                        <li><a href="">Видеотехника</a></li>
                        <li><a href="">Компьютерные комплектующие</a></li>
                        <li><a href="">Оргтехника</a></li>
                        <li><a href="">Ноутбуки</a></li>
                        <li><a href="">Нетбуки</a></li>
                        <li><a href="">Планшеты</a></li>
                        <li><a href="">Сотовые телефоны</a></li>
                        <li><a href="">Фототехника</a></li>
                        <li><a href="">Климат</a></li>
                        <li><a href="">Крупная бытовая техника</a></li>
                        <li><a href="">Мелкая бытовая техника</a></li>
                    </ul>

                </div>

                <div class="footerColumn">
                    <ul class="otherLinks">

                        <li><a href="">Наши новости</a></li>
                        <li><a href="">Мировые новости</a></li>
                        <li><a href="">О магазине</a></li>
                        <li><a href="">Контакты</a></li>
                        <li><a href="">Условия доставки</a></li>
                        <li><a href="">Способы оплаты</a></li>
                        <li><a href="">Справка</a></li>
                        <li><a href="">Отзывы</a></li>
                        <li><a href="">Оптовым покупателям</a></li>

                    </ul>
                </div>

                <div class="footerColumn footerColumnLast">

                    <div class="shareLinks">
                        <a href="http://facebook.com/nurix.kg"><img src="{{ asset('public/img/icon/fb_icon.png') }}"></a>
                        <a href="https://twitter.com/nurixKG"><img src="{{ asset('public/img/icon/twit_icon.png') }}"></a>
                    </div>

                    <div class="f20 white_color">
                        <div class="clearbox"></div>
                        Подписка на новости:
                        <form action="" name="forma2">
                            <input type="text" class="podpiska" placeholder="Введите ваш электронный адрес"
                                   name="podpiska"/>
                            <input class="button_podpiska" type="submit" value="Подписаться">
                        </form>
                    </div>

                </div>

            </div>

        </div>
        <div class="clearbox"></div>
    </div>
</footer>

</div>

</body>
</html>
