<!--begain footer-->
<footer id="footer"><!--Footer-->
    <div class="footer-widget">
        <div class="container">
            <div class="row">

                <div class="span3">
                    <div class="single-widget footer_custom">
                        <h2>{{ 'contact_info'|trans({},'messages') }}</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="javascript:void(0)"><i class="fa fa-mobile"></i>{{ get_param('phone_number') }}</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fa fa-mobile"></i>{{ get_param('phone_number2') }}</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fa fa-share"></i>{{ get_param('email') }}</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"> <i class="fa fa-map-marker"></i>{{ get_param('address') }}</a>
                            </li>
                        </ul>
                    </div>

                </div><!--end span3-->

            </div><!--end row-fluid-->

        </div><!--end container-->
    </div><!--end footerOuter-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">AFM © 2014 E-Магазин Inc. All rights reserved. {{ date()|format_date('YYYY') }}</p>
                <p class="pull-right">© {{ 'copyright'|trans({'year':date()|format_date('YYYY')},'messages') }}</p>
                {#<p>© {{ 'copyright'|trans({'year':date()|format_date('YYYY')},'messages') }}</p>#}
            </div>
        </div>
    </div>
</footer>
<!--end footer-->