<!--begain header-->
<header id="header">
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="javascript:void(0)"><i class="fa fa-phone"></i> {{ get_param('phone_number') }}</a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-envelope"></i>{{ get_param('email') }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->
    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="{{ path("nurix_homepage") }}"><img src="{{ asset("public/img/logo.png") }}" alt="" /></a>
                    </div>
                    <div class="btn-group pull-right">
                        <div class="btn-group">
                            {{ exchange_list() }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="{{ path('sonata_user_profile_show') }}"><i class="fa fa-user"></i>{{ 'layout.my_profile'|trans({},'FOSUserBundle') }}</a></li>
                            {% endif %}
                            <li><a href="{{ path('nurix_bin_order_form') }}"><i class="fa fa-crosshairs"></i> {{ 'itemInBin.checkout'|trans({}, 'CatalogBundle') }}</a></li>
                            <li><a href="{{ path('nurix_bin_item') }}"><i class="fa fa-shopping-cart"></i> {{ 'itemInBin.view_card'|trans({}, 'CatalogBundle') }}</a></li>
                            {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="javascript:void(0)">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}&nbsp;</a></li>
                                <li><a class="invarseColor" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-lock"></i>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        {{ knp_menu_render('main', {'currentClass': 'active','ancestorClass':'active','template':'::main_menu.html.twig'}) }}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        {% render controller('CatalogBundle:Search:ShowForm') %}
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header>
<!-- end header -->