
<h1>Регистрация</h1>
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" id="registration">

    {{ form_errors(form) }}

    <div>
        <div class="registration_label">{{ form_label(form.username, 'Логин:') }}</div>
        {{ form_errors(form.username) }}
        <div class="registration_input">{{ form_widget(form.username) }}</div>
    </div>

    <div>
        <div class="registration_label">{{ form_label(form.email, 'E-mail') }}</div>
        {{ form_errors(form.email) }}
        <div class="registration_input">{{ form_widget(form.email) }}</div>

    </div>

    <div>
        <div class="registration_label">{{ form_label(form.plainPassword.first, 'Пароль:') }}</div>
    {{ form_errors(form.plainPassword.first) }}
        <div class="registration_input">{{ form_widget(form.plainPassword.first) }}</div>
    </div>

    <div>
        <div class="registration_label">{{ form_label(form.plainPassword.second, 'Повтор пароля:') }}</div>
    {{ form_errors(form.plainPassword.second) }}
        <div class="registration_input">
            {{ form_widget(form.plainPassword.second) }}
        </div>
    </div>

    <div>
        <div class="registration_label">{{ form_label(form.firstname, 'Имя:') }}</div>
        {{ form_errors(form.firstname) }}
        <div class="registration_input">{{ form_widget(form.firstname) }}</div>
    </div>


    <div>
        <div class="registration_label">{{ form_label(form.lastname, 'Фамилия:') }}</div>
        {{ form_errors(form.lastname) }}
        <div class="registration_input">{{ form_widget(form.lastname) }}</div>
    </div>

    <div>
        <div class="registration_label">{{ form_label(form.phone, 'Номер телефона:') }}</div>
        {{ form_errors(form.phone) }}
        <div class="registration_input">{{ form_widget(form.phone) }}</div>
    </div>


    <div>
        <div class="registration_label">{{ form_label(form.address, 'Домашний адрес:') }}</div>
        {{ form_errors(form.address) }}
        <div class="registration_input">{{ form_widget(form.address) }}</div>
    </div>

    {{ form_rest(form) }}
    <div class="registration_submit">
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="submit_button" />
    </div>
</form>
