{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/article/css/news.css') }}">
{% endblock %}

{% block body %}

    {# Новости #}
    <h2>Новости</h2>
    {% for n in news %}
        <div class="news_item">
            <div class="news_image">
                <img src="{{ asset('public/img/news/') }}{{ n.imageurl }}"/>
            </div>
            <div class="news_content">
                <div class="news_title">{{ n.title }}</div>
                <div class="news_short_description">
                    {{ n.description|slice(0,150) }}{% if n.description|length > 150 %}<a href="{{ path('article_show_article',{'id':n.id}) }}">...</a>{% endif %}
                </div>

                <div class="news_bottom">
                    <span class="news_date">{{ n.created | date('y-m-d')}}</span>
                    <img src="{{ asset('bundles/article/img/news/comment_icon.png') }}"/><span class="news_comment">Комментарии</span>
                    <img src="{{ asset('bundles/article/img/news/view_icon.png') }}"/><span class="news_viewed">Просмотров {{ n.viewed }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
    {# End: Новости #}
{% endblock %}
