<li class="clearfix">
    <div class="span3">
        <div class="thumbnail">
            <a href="{{ path('nurix_goods_get_info', {'id': product.id} ) }}">
                {{ product.imagePath|galleryThumb(asset('public/img/372x370.jpg'),'goods_big') }}
            </a>
        </div>
    </div>
    <div class="span6">
        <div class="thumbSetting">
            <div class="thumbTitle">
                <a href="{{ path('nurix_goods_get_info', {'id': product.id}) }}"
                   class="invarseColor">{{ product.name }}</a>
            </div>
            <div class="thumbPriceRate clearfix">
                <span>{{ product.price | price('USD') }}</span>
                <ul class="rating">
                    <li><i class="star-on"></i></li>
                    <li><i class="star-on"></i></li>
                    <li><i class="star-on"></i></li>
                    <li><i class="star-on"></i></li>
                    <li><i class="star-off"></i></li>
                </ul>
                <strong><a href="#">18 Reviews</a></strong>
            </div>
            <div class="thumbDesc">
                <p>
                    {% if product.fullDesctiption %}
                        {{ product.fullDesctiption }}
                    {% else %}
                <p>{{ 'product_info.notuploaded'|trans({}, 'CatalogBundle') }}</p>
                {% endif %}
                </p>
            </div>
            <div class="thumbButtons">
                <a class="btn btn-primary button_buy btn-small" data-id="{{ product.id }}"
                   href="{{ path('nurix_bin_ajax_add_item',{'id':product.id}) }}"
                   onclick="return false;">
                    <i class="icon-shopping-cart"></i>
                    {{ 'product_info.addToCard'|trans({}, 'CatalogBundle') }}
                </a>
                <button class="btn btn-small" data-title="+To WishList" data-placement="top" data-toggle="tooltip">
                    <i class="icon-heart"></i>
                </button>

            </div>
        </div>
    </div>
</li>