<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <a href="{{ path('nurix_goods_get_info', {'id': product.id} ) }}">
                    {{ product.imagePath|galleryThumb(asset('public/img/372x370.jpg'),'goods_big') }}
                </a>

                <h2>{{ product.price | price('USD') }}</h2>

                <p>{{ product.name }}</p>
                <button class="btn btn-default add-to-cart button_buy"
                        data-title="{{ 'product_info.addToCard'|trans({}, 'CatalogBundle') }}" data-placement="top"
                        data-id="{{ product.id }}">
                    <i class="fa fa-shopping-cart"></i> Добавить в корзину
                </button>
            </div>
        </div>
    </div>
</div>
