<li class="span3 clearfix">
        <div class="thumbnail">
            <a href="{{ path('nurix_goods_get_info', {'id': product.id} ) }}">
                {{ product.imagePath|galleryThumb(asset('public/img/212x192.jpg'),'goods_big') }}
            </a>
        </div>
        <div class="thumbSetting">
            <div class="thumbTitle">
                <a href="{{ path('nurix_goods_get_info', {'id': product.id}) }}"
                   class="invarseColor">{{ product.name }}</a>
            </div>
            <div class="thumbPrice">
                <span>{{ product.price | price('USD') }}</span>
            </div>

            <div class="thumbButtons">
                <button class="btn btn-primary btn-small button_buy" data-title="{{ 'product_info.addToCard'|trans({}, 'CatalogBundle') }}" data-placement="top" data-toggle="tooltip" data-id="{{ product.id}}">
                    <i class="icon-shopping-cart"></i>
                </button>
                {#<button class="btn btn-small" data-title="+To WishList" data-placement="top" data-toggle="tooltip">#}
                    {#<i class="icon-heart"></i>#}
                {#</button>#}

            </div>

            <ul class="rating">
                <li><i class="star-on"></i></li>
                <li><i class="star-on"></i></li>
                <li><i class="star-on"></i></li>
                <li><i class="star-on"></i></li>
                <li><i class="star-off"></i></li>
            </ul>
        </div>
    </li>
