{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} : {{ title }}{% endblock %}
{% block body %}
    {% if pagination.getTotalItemCount > 0 %}
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Все категории</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        {{ knp_menu_render('catalog_side_menu', {'currentClass': 'active','ancestorClass': 'active','template':'catalog_side_menu.html.twig'}) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-9 padding-right">
                {{ include('CatalogBundle:Content:_catalog_header.html.twig') }}
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">{{ title }}</h2>
                    {% for product in pagination %}
                        {% include  "CatalogBundle:Content:_item_grid_catalog.html.twig" with {'product':product} %}
                    {% endfor %}
                </div>
            </div>
            <div class="pagination pagination-right">
                    {{ knp_pagination_render(pagination,'CatalogBundle:Pagination:pagination.html.twig') }}
                </div>
        </div>
        <!--end row-->
    {% else %}
        <h2>
            В этой категории товаров пока нет
        </h2>
    {% endif %}
{% endblock %}



