<div style="width: 710px;">
    <div class="phones float_left">
        <div><a id="name" class="size16px" href="{{ path('nurix_goods_get_info', {'id': product.id}) }}">{{ product.name }}</a></div>
        <div class="gray margin_top10px ">{{ product.shortDescription }}</div>
        <div class="clearbox"></div>
        <div>
            <a href="{{ path('nurix_goods_get_info', {'id': product.id} ) }}"">
            {% set media = product.imagePath.GalleryHasMedias|first %}
            {% thumbnail media.media, product.imagePath.defaultFormat %}
        </div>
        <div>
            <div class="gray float_left margin_top10px">Цена:</div>
            <div class="size16px price float_left">{{ product.price }}</div>
            <div class="clear"></div>
            <div style="float: right;">
                <a  product="{{ product.id }}" href="{{ path('nurix_bin_ajax_add_item',{'id':product.id}) }}" onclick="return false;" class="button_buy">
                    Купить
                </a>
            </div>
        </div>
    </div>
</div>
