{% extends '::base.html.twig' %}

{% block body %}
    Main<br><br>
    <h3>Топ продаж</h3><br>
    <img src="{{ asset('bundles/nurix/images/1.jpg') }}" width="200" height="250" alt="main"/>
    <img src="{{ asset('bundles/nurix/images/4.jpg') }}" width="200" height="250" alt="main" />
    <img src="{{ asset('bundles/nurix/images/2.jpg') }}" width="200" height="250" alt="main" />
    <img src="{{ asset('bundles/nurix/images/3.jpg') }}" width="240" height="250" alt="main" />
    <img src="{{ asset('bundles/nurix/images/facebook.jpg') }}" width="210" height="250" alt="main" />

{% endblock %}