{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/nurix/css/rcarousel.css') }} " type="text/css" rel="stylesheet"/>
{% endblock %}
{% block body %}
    {% render  "CatalogBundle:Content:showRandomProductList" %}
{% endblock %}
{% block slider %}
 <div id="carousel" class="center">
        <img src="{{ asset('bundles/nurix/images/slider/1.jpg') }}" alt="Catalog">
        <img src="{{ asset('bundles/nurix/images/slider/2.jpg') }}" alt="Catalog">
        <img src="{{ asset('bundles/nurix/images/slider/3.jpg') }}" alt="Catalog">
        <img src="{{ asset('bundles/nurix/images/slider/4.jpg') }}" alt="Catalog">
        <img src="{{ asset('bundles/nurix/images/slider/5.jpg') }}" alt="Catalog">
        <img src="{{ asset('bundles/nurix/images/slider/6.jpg') }}" alt="Catalog">
    </div>
        <div id="pages"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/nurix/js/slider.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/nurix/js/jquery.ui.core.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/nurix/js/jquery.ui.widget.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/nurix/js/jquery.ui.rcarousel.min.js") }}"></script>
{% endblock %}