{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/nurix/css/rcarousel.css') }} " type="text/css" rel="stylesheet"/>
{% endblock %}
{% block body %}
    {% render  "CatalogBundle:Content:showRandomProductList" %}
{% endblock %}
{% block slider %}
    <div class="display_block">
    <div id="carousel">
        <div>
            <img src="{{ asset('bundles/nurix/images/slider/2.jpg') }}" alt="Catalog" style="float: left" width="100px">
            <h2>Hello</h2>
            <input type="button"/><input type="text">
        </div>
        <img src="{{ asset('bundles/nurix/images/slider/2.jpg') }}" alt="Catalog">
        <img src="{{ asset('bundles/nurix/images/slider/3.jpg') }}" alt="Catalog">
        <img src="{{ asset('bundles/nurix/images/slider/4.jpg') }}" alt="Catalog">
        <img src="{{ asset('bundles/nurix/images/slider/5.jpg') }}" alt="Catalog">
        <img src="{{ asset('bundles/nurix/images/slider/6.jpg') }}" alt="Catalog">

    </div>
        <a href="#" id="ui-carousel-next">next</a>
        <a href="#" id="ui-carousel-prev">prev;</a>
    </div>
    <div id="pages">

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(function($)
        {
            $("#carousel").rcarousel(
                    {
                        start: generatePages,
                        visible: 1,
                        step: 1,
                        speed: 700,
                        auto: {
                            enabled: true,
                            interval: 1000
                        },
                        width: 780,
                        height: 240
                    }
            );
            function generatePages() {
                var _total, i, _link;

                _total = $( "#carousel" ).rcarousel( "getTotalPages" );

                for ( i = 0; i < _total; i++ ) {
                    _link = $( "<a href='#'></a>" );

                    $(_link)
                            .bind("click", {page: i},
                            function( event ) {
                                $( "#carousel" ).rcarousel( "goToPage", event.data.page );
                                event.preventDefault();
                            }
                    )
                            .addClass( "bullet off" )
                            .appendTo( "#pages" );
                }

                // mark first page as active
                $( "a:eq(0)", "#pages" )
                        .removeClass( "off" )
                        .addClass( "on" )
                        .css( "background-image", "url(images/page-on.png)" );

            }
        });

    </script>
    <script type="text/javascript" src="{{ asset("bundles/nurix/js/jquery.ui.core.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/nurix/js/jquery.ui.widget.min.js") }}"></script>
    <script type="text/javascript" src="{{asset("bundles/nurix/js/jquery.ui.rcarousel.min.js") }}"></script>
{% endblock %}