{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} : Форма входа
{% endblock %}
{% block body %}
    <div class="row">
        <div class="span9">
            <div class="login">
                <table>
                    <tr>
                        <td>
                            <h3>{{ 'layout.new_user' | trans({},'FOSUserBundle')  }}</h3>

                            <p>{{ 'security.login.text'|trans({},'FOSUserBundle') }}</p>
                            <a href="{{ path('fos_user_registration_register') }}" class="btn">{{ 'layout.register'|trans({},'FOSUserBundle') }}</a>
                        </td>

                        <td>
                            <h3>{{ 'layout.return_user' | trans({},'FOSUserBundle')  }}</h3>

                            <form action="{{ path("fos_user_security_check") }}" method="post">
                                {% if error %}
                                    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
                                {% endif %}
                                <div class="controls">
                                    <label>{{ 'security.login.username'|trans({}, 'FOSUserBundle') }} <span
                                                class="text-error">*</span></label>
                                    <input type="text" id="username" name="_username" required="required"/>
                                </div>
                                <div class="controls">
                                    <label>{{ 'security.login.password'|trans({}, 'FOSUserBundle') }} <span
                                                class="text-error">*</span></label>
                                    <input type="password" id="password" name="_password" required="required"
                                           placeholder="**************"/>
                                </div>
                                <div class="controls">
                                    <label for="remember_me" class="checkbox">
                                        <input type="checkbox" id="remember_me" name="_remember_me"
                                               value="on"/> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                    </label>
                                    <button type="submit"
                                            class="btn btn-primary">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                            </form>
                            <!--end form-->
                        </td>
                    </tr>
                </table>
            </div>
            <!--end login-->
        </div>
        <!--end span9-->
    </div>
{% endblock %}