{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} : Результаты поиска по запросу "{{ searchText }}"
{% endblock %}
{% block body %}
    <div class="row">
        <div class="span3">
            <div class="search">
                <div class="titleHeader clearfix">
                    <h3>{{ 'search.search'|trans({},'messages') }}</h3>
                </div>

                <form action="{{ path('nurix_search') }}" method="get" {{ form_enctype(form) }}>
                    {{ form_widget(form.search,{'attr':{'class':'span3'} }) }}
                    <br>
                    <button type="submit" class="btn btn-primary"><i class="icon-search"></i>{{ 'start_searching'|trans({},'CatalogBundle') }}</button>
                </form>
                <!--end form-->

            </div>
            <!--end search-->
        </div>
        <!--end span3-->


        <div class="span9">

            {% if pagination|length %}

            <div class="titleHeader clearfix">
                <h3>{{ 'search.result'|trans({},'messages') }}</h3>
            </div>
            <!--end titleHeader-->

            {{ include('CatalogBundle:Content:_catalog_header.html.twig') }}


            <div class="row">
                <ul class="hProductItems clearfix">
                        {% for product in pagination %}
                            {% include  "CatalogBundle:Content:_item_"~app.request.cookies.get('cookieCatalogStyle','grid')~".html.twig" with {'product':product} %}
                        {% endfor %}
                </ul>
            </div>
            <!--end row-->

            <div class="pagination pagination-right">
                {{ knp_pagination_render(pagination,'CatalogBundle:Pagination:pagination.html.twig') }}
            </div>
            <!--end pagination-->

            {% else %}

            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ 'search.not_found'|trans({},'messages')|raw }}
            </div>
            <!--end alert-->
            {% endif %}

        </div>
        <!--end span9-->
    </div>
{% endblock %}

