{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} : {{ product.name }} в Бишкеке
{% endblock %}
{% block meta_description %}
    {{ product.name }} в Бишкеке по цене {{ product.price }}$. {{ product.shortDescription }}
{% endblock %}
{% block body %}
    <div class="container">

    <div class="row">

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ 'product_info.makeFeedback'|trans({}, 'CatalogBundle') }}</h3>
        </div>
        <div class="modal-body">


        </div>
    </div>

    <div class="span9">
    <div class="row">

        <div class="product-details clearfix">
            <div class="span5">
                <div class="product-title">
                    <h4>{{ product.name }}</h4>
                </div>
                <div class="product-img">
                    <a class="fancybox" href="{{ product.imagePath|path( asset('public/img/650x700.jpg'),'goods_original') }}">
                        {{ product.imagePath|galleryThumb( asset('public/img/372x370.jpg'),'goods_middle') }}
                    </a>
                </div>
                <!--end product-img-->
                <div class="product-img-thumb">
                    {% if product.imagePath %}
                        {% for galleryHasMedia in product.imagePath.GalleryHasMedias %}
                            <a class="fancybox" rel="gallery" href="{% path galleryHasMedia.media, 'goods_original' %}">
                                <img src="{% path galleryHasMedia.media, 'goods_small' %}"/>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
                <!--end flexslider-thumb-->
            </div>
            <!--end span5-->

            <div class="span4">
                <div class="product-set">
                    <div class="product-price">
                        <span> {{ product.price| price('USD') }}</span>
                    </div>
                    <!--end product-price-->
                    <div class="product-rate clearfix">
                        <ul class="rating">
                            {% for i in 1..5 %}
                                <li><i class="{% if i <=  product.avgReview %} star-on {% else %} star-off {% endif %}"></i></li>
                            {% endfor %}
                        </ul>
                        <span> {{ product.reviews|length|count('review_count.single'|trans({},'CatalogBundle'),'review_count.several'|trans({},'CatalogBundle'),'review_count.many'|trans({},'CatalogBundle')) }} {#<a href="#">{{ 'product_info.makeFeedback'|trans({}, 'CatalogBundle') }}</a>#}</span>
                    </div>
                    <!--end product-inputs-->
                    <div class="product-info">
                        <dl class="dl-horizontal">
                            <dt>{{ 'product_info.availability'|trans({}, 'CatalogBundle') }}:</dt>
                            {% if product.amount %}
                                <dd>{{ 'product_info.yes'|trans({}, 'CatalogBundle') }}</dd>
                            {% else %}
                                <dd>{{ 'product_info.no'|trans({}, 'CatalogBundle') }}</dd>
                            {% endif %}
                            <dt>{{ 'product_info.article'|trans({}, 'CatalogBundle') }}:</dt>
                            <dd>{{ product.article }}</dd>
                            <dt>{{ 'product_info.catalog'|trans({}, 'CatalogBundle') }}:</dt>
                            <dd>{{ product.catalog }}</dd>
                            <dt>{{ 'product_info.reviewPoints'|trans({}, 'CatalogBundle') }}:</dt>
                            <dd>{{ product.TotalReview }}</dd>
                        </dl>
                    </div>
                    <!--end product-info-->
                    <div class="product-inputs">
                        <form method="post" action="page">
                            {#<div class="controls-row">#}
                                {#<select class="span2" name="#">#}
                                    {#<option>{{ 'product_info.selectColor'|trans({}, 'CatalogBundle') }}</option>#}
                                    {#<option value="">{{ 'product_info.red'|trans({}, 'CatalogBundle') }}</option>#}
                                    {#<option value="">{{ 'product_info.blue'|trans({}, 'CatalogBundle') }}</option>#}
                                    {#<option value="">{{ 'product_info.brown'|trans({}, 'CatalogBundle') }}</option>#}
                                {#</select>#}
                                {#<select class="span2" name="#">#}
                                    {#<option>{{ 'product_info.selectSize'|trans({}, 'CatalogBundle') }}</option>#}
                                    {#<option value="">{{ 'product_info.size'|trans({}, 'CatalogBundle') }} 36</option>#}
                                    {#<option value="">{{ 'product_info.size'|trans({}, 'CatalogBundle') }} 12</option>#}
                                    {#<option value="">{{ 'product_info.size'|trans({}, 'CatalogBundle') }} 18</option>#}
                                {#</select>#}
                            {#</div>#}
                            <!--end controls-row-->

                            {#<div class="controls-row">#}
                                {#<input type="text" class="span2" name="" value="" placeholder="input...">#}
                                {#<input type="text" class="span2" name="" value="" placeholder="input...">#}
                            {#</div>#}
                            {#<!--end controls-row-->#}

                            {#<div class="controls-row">#}
                                {#<input type="text" class="span3" name="" value="" placeholder="input...">#}
                                {#<input type="text" class="span1" name="" value="" placeholder="input...">#}
                            {#</div>#}
                            {#<!--end controls-row-->#}

                            {#<textarea name="" class="span4" placeholder="textarea..."></textarea>#}

                            <div class="input-append">
                                <input id="item-amount" class="span1 quantity-input" type="text" value="1">
                                <button class="btn btn-primary button_buy_bin" data-id="{{ product.id }}"
                                   onclick="return false;">
                                    <i class="icon-shopping-cart"></i>
                                    {{ 'product_info.addToCard'|trans({}, 'CatalogBundle') }}
                                </button>
                                {#<button class="btn" data-toggle="tooltip" data-title="+To Wishlist"><i#}
                                            {#class="icon-heart"></i></button>#}
                            </div>
                        </form>
                        <!--end form-->

                    </div>
                    <!--end product-inputs-->
                </div>
                <!--end product-set-->
            </div>
            <!--end span4-->

        </div>
        <!--end product-details-->

    </div>
    <!--end row-->


    <div class="product-tab">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#descraption" data-toggle="tab">{{ 'product_info.description'|trans({}, 'CatalogBundle') }}</a>
            </li>
            <li>
                <a href="#review" data-toggle="tab">{{ 'product_info.review'|trans({}, 'CatalogBundle') }}</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle"
                   data-toggle="dropdown">{{ 'product_info.feedback'|trans({}, 'CatalogBundle') }} <i
                            class="icon-caret-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#read-review"
                           data-toggle="tab">{{ 'product_info.readFeedback'|trans({}, 'CatalogBundle') }}</a></li>
                    <li><a href="#make-review"
                           data-toggle="tab">{{ 'product_info.makeFeedback'|trans({}, 'CatalogBundle') }}</a></li>
                </ul>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="descraption">
                <p>
                    {% if product.fullDesctiption %}
                    {{ product.fullDesctiption }}
                    {% else %}
                <p>{{ 'product_info.notuploaded'|trans({}, 'CatalogBundle') }}</p>
                {% endif %}
                </p>
            </div>
         <div class="tab-pane" id="review">
                {% if product.review %}
                    {{ product.review|raw }}<br/>
                {% else %}
                    <p>{{ 'product_info.notuploaded'|trans({}, 'CatalogBundle') }}</p>
                {% endif %}
                <h3>{{ 'product_info.video'|trans({}, 'CatalogBundle') }}</h3>
                {% if product.youtube %}
                    {% include  "CatalogBundle:Product:video.html.twig" %}
                {% else %}
                    <p>{{ 'product_info.video_notuploaded'|trans({}, 'CatalogBundle') }}</p>
                {% endif %}
            </div>

            <div class="tab-pane" id="read-review">
                {% for review in product.reviews %}

                <div class="single-review clearfix">
                    <div class="review-header">
                        <ul class="rating">
                            {% for i in 1..5 %}
                                <li><i class="{% if i <=  review.rating %} star-on {% else %} star-off {% endif %}"></i></li>
                            {% endfor %}
                        </ul>
                        <h4>{{ review.author }}</h4>
                        <small>{{ review.created|date('d-m-Y') }}</small>
                    </div>
                    <!--end review-header-->

                    <div class="review-body">
                        <p>
                            {{ review.comment }}
                        </p>
                    </div>
                    <!--end review-body-->
                </div>
                <!--end single-review-->
                {% endfor %}

            </div>

        {{ render(controller('CatalogBundle:Product:newReview',{'id': product.id })) }}
        </div>
        <!--end tab-content-->
    </div>
    <!--end product-tab-->


    {% render controller("CatalogBundle:Product:getSame", {'product':product}) %}

    <!--end related-product-->

    </div>
    <!--end span9-->


    <aside class="span3">
        {% render controller("CatalogBundle:Content:showSliderProductList") %}
    </aside>
    <!--end span3-->

    </div>
    <!--end row-->

    </div><!--end conatiner-->
{% endblock %}
