{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/catalog/js/addRem.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/catalog/js/product_slider.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/catalog/js/product_slider_pictures.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/catalog/js/tabs.js") }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/catalog/css/phone_info.css') }} " type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/catalog/css/product_slider.css') }} " type="text/css" rel="stylesheet"/>
    <link href="{{ asset("bundles/catalog/css/tabs.css") }}" type="text/css" media="screen" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <div class="product">
        <div class="slide_center">
            <div id="my-folio-of-works" class="svwp">
                <ul>
                        {#{% for galleryHasMedia in product.imagePath.GalleryHasMedias %}
                                    <li>{% thumbnail galleryHasMedia.media, product.imagePath.defaultFormat %}</li>
                        {% endfor %}#}
                </ul>
            </div>
        </div>

        <div class="float_left">
            <div class="product_name">{{ product.name }}</div>
            <div class="product_base_info">
                <table  class="chars">
                    {% if mainchar %}
                    {% for type in mainchar %}
                        <tr>
                            <td class="charType">{{ type.getCTypeId.name }}:</td>
                            <td class="charValue">{{ type.value }}</td>
                        </tr>

                        {% if loop.index == 3 %}
                            <tr><td class="table_otsup"></td></tr>
                        {% endif %}

                    {% endfor %}
                    {% else %}
                      <h3>Характеристики еще не введены</h3>
                    {% endif %}
                </table>
            </div>
            <div class="product_box">
                <div class="product_price">{{ product.price| price('USD') }}</div>
                <div class="product_price_som">{{ product.price| price('SOM') }}</div>
                <div class="product_amount">
                    <div class="float_left word_col">кол-во:</div>
                    <div><input type="text" class="box" value="1" id="amount"/></div>
                    <div class="addrem" onmousedown="return false">
                        <span class="znak" id="add">+</span>
                        <span class="znak" id="rem">-</span>
                    </div>
                    <a href="/" class="button_buy_bin">В корзину</a>
                </div>
            </div>
            <div class="clearbox"></div>

            <hr class="product_hr1">

            <div class="product_description">
                <div style="color: #999;">
                    Описание:
                </div>
                {{ product.fullDesctiption }}
            </div>
        </div>
        <div class="clearbox"></div>
        <hr class="product_hr2">
        <div id="tabs_container">
            <div>
                <ul class="menu">
                    <li id="characteristic" class="active tabs_ico tabs_char">Характеристики</li>
                    <li id="review" class="tabs_ico tabs_obzor">Обзор</li>
                    <li id="pfeedbacks" class="tabs_ico tabs_feedbacks">Отзывы</li>
                    <li id="video" class="tabs_ico tabs_video">Видео</li>
                </ul>
                <span class="clear"></span>

                <div class="tabs_content characteristic">
                    {%  if mainchar %}
                        {% include  "CatalogBundle:Product:characteristic.html.twig" %}
                    {% else %}
                        <h3>Характеристики еще не введены</h3>
                    {% endif %}
                </div>

                <div class="tabs_content review">
                    {% if product.review %}
                        {{ product.review|raw }}
                    {% else %}
                        <h3>Обзор</h3>
                    {% endif %}
                </div>

                <div class="tabs_content pfeedbacks">
                    <h1>You may visit</h1>
                    <ul>
                        <li><a href="http://www.plusmusica.com">www.plusmusica.com</a> - Online jukebox!</li>
                        <li><a href="http://www.cokidoo.com">www.cokidoo.com</a> - Awesome startup! :)</li>
                        <li><a href="http://www.cokidoo.com">www.pixelartgames.com</a> - Do you want pixel art games? ;)
                        </li>
                        <li><a href="http://www.dmsconsulting.es">www.dmsconsulting.es</a> - Great guys</li>
                        <ul>
                </div>

                <div class="tabs_content video">
                    {%  if product.youtube | length > 0 %}
                    {% include  "CatalogBundle:Product:video.html.twig" %}
                    {% else %}
                        <h1>Пока видео еще нет</h1>
                    {% endif %}
                </div>

            </div>
        </div>
        <hr class="product_hr2">
        <div class="product_same">
            {% render "CatalogBundle:Product:getSame" %}
        </div>
    </div>
{% endblock %}
