{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} : {{ product.name }} в Бишкеке
{% endblock %}
{% block meta_description %}
    {{ product.name }} в Бишкеке по цене {{ product.price }}$. {{ product.shortDescription }}
{% endblock %}
{% block body %}
    <div class="row">

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ 'product_info.makeFeedback'|trans({}, 'CatalogBundle') }}</h3>
        </div>
        <div class="modal-body">


        </div>
    </div>

    <div class="col-sm-9 padding-right">
    <div class="product-details"><!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <a class="fancybox"
                   href="{{ product.imagePath|path( asset('public/img/650x700.jpg'),'goods_original') }}">
                    {{ product.imagePath|galleryThumb( asset('public/img/372x370.jpg'),'goods_middle') }}
                </a>
            </div>
            <div id="similar-product" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active product-img-thumb">
                        {% if product.imagePath %}
                            {% for galleryHasMedia in product.imagePath.GalleryHasMedias %}
                                <a class="fancybox" rel="gallery"
                                   href="{% path galleryHasMedia.media, 'goods_original' %}">
                                    <img src="{% path galleryHasMedia.media, 'goods_small' %}"/>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="product-information"><!--/product-information-->
                <h2>{{ product.name }}</h2>
                <ul class="rating">
                    <p style="float: left; margin-right: 10px"><b>Рейтинг:</b></p>
                    {% for i in 1..5 %}
                        <li style="float: left; color: gold">
                            <i class="{% if i <=  product.avgReview %}fa fa-star {% else %}fa fa-star-o {% endif %}"></i>
                        </li>
                    {% endfor %}
                </ul>
            <span>
			<span>{{ product.price| price('USD') }}</span>
			<label>Количество:</label>
			<input id="item-amount" class="span1 quantity-input" type="text" value="1"/>
            <button class="btn btn-fefault cart button_buy_bin" data-id="{{ product.id }}" onclick="return false;">
                <i class="fa fa-shopping-cart"></i>
                {{ 'product_info.addToCard'|trans({}, 'CatalogBundle') }}
            </button>
                {#<button class="btn" data-toggle="tooltip" data-title="+To Wishlist"><i#}
                {#class="icon-heart"></i></button>#}
            </span>
            <p><b>{{ 'product_info.article'|trans({}, 'CatalogBundle') }}:</b> {{ product.article }}</p>
            <p><b>{{ 'product_info.catalog'|trans({}, 'CatalogBundle') }}:</b> {{ product.catalog }}</p>
            <p><b>{{ 'product_info.reviewPoints'|trans({}, 'CatalogBundle') }}:</b> {{ product.TotalReview }}</p>
            </div>
            <!--/product-information-->
        </div>
        <div class="product-details clearfix">

            <div class="span4">
                <div class="product-set">
                    <div class="product-info">
                        <dl class="dl-horizontal">
                            <dt>{{ 'product_info.availability'|trans({}, 'CatalogBundle') }}:</dt>
                            {% if product.amount %}
                                <dd>{{ 'product_info.yes'|trans({}, 'CatalogBundle') }}</dd>
                            {% else %}
                                <dd>{{ 'product_info.no'|trans({}, 'CatalogBundle') }}</dd>
                            {% endif %}
                            <dt>{{ 'product_info.article'|trans({}, 'CatalogBundle') }}:</dt>
                            <dd>{{ product.article }}</dd>
                            <dt>{{ 'product_info.catalog'|trans({}, 'CatalogBundle') }}:</dt>
                            <dd>{{ product.catalog }}</dd>
                            <dt>{{ 'product_info.reviewPoints'|trans({}, 'CatalogBundle') }}:</dt>
                            <dd>{{ product.TotalReview }}</dd>
                        </dl>
                    </div>
                    <!--end product-info-->
                    <div class="product-inputs">
                        <form method="post" action="page">
                       <div class="input-append">
                                <input id="item-amount" class="span1 quantity-input" type="text" value="1">
                                <button class="btn btn-primary button_buy_bin" data-id="{{ product.id }}"
                                        onclick="return false;">
                                    <i class="icon-shopping-cart"></i>
                                    {{ 'product_info.addToCard'|trans({}, 'CatalogBundle') }}
                                </button>
                            </div>
                        </form>
                        <!--end form-->

                    </div>
                    <!--end product-inputs-->
                </div>
                <!--end product-set-->
            </div>
            <!--end span4-->

        </div>
        <!--end product-details-->

    </div>
    <!--end row-->


    <div class="category-tab shop-details-tab"><!--category-tab-->
        <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#descraption" data-toggle="tab">{{ 'product_info.description'|trans({}, 'CatalogBundle') }}</a>
            </li>
            <li>
                <a href="#review" data-toggle="tab">{{ 'product_info.review'|trans({}, 'CatalogBundle') }}</a>
            </li>
            <li>
                <a href="#reviews" data-toggle="tab">{{ 'product_info.feedback'|trans({}, 'CatalogBundle') }}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active in fade" id="descraption">
                <div class="col-sm-12">
                    <p>
                        {% if product.fullDesctiption %}
                            {{ product.fullDesctiption }}
                        {% else %}
                            <p>{{ 'product_info.notuploaded'|trans({}, 'CatalogBundle') }}</p>
                        {% endif %}
                     </p>
                </div>
            </div>
            <div class="tab-pane fade" id="review">

                {% if product.review %}
                    {{ product.review|raw }}<br/>
                {% else %}
                    <p>{{ 'product_info.notuploaded'|trans({}, 'CatalogBundle') }}</p>
                {% endif %}
                <h3>{{ 'product_info.video'|trans({}, 'CatalogBundle') }}</h3>
                {% if product.youtube %}
                    {% include  "CatalogBundle:Product:video.html.twig" %}
                {% else %}
                    <p>{{ 'product_info.video_notuploaded'|trans({}, 'CatalogBundle') }}</p>
                {% endif %}
            </div>

            <div class="tab-pane fade" id="reviews">
                {#<div class="col-sm-12">#}
                    {#<ul>#}
                        {#<li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>#}
                        {#<li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>#}
                        {#<li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>#}
                    {#</ul>#}
                    {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>#}
                    {#<p><b>Write Your Review</b></p>#}

                    {#<form action="#">#}
										{#<span>#}
											{#<input type="text" placeholder="Your Name"/>#}
											{#<input type="email" placeholder="Email Address"/>#}
										{#</span>#}
                        {#<textarea name="" ></textarea>#}
                        {#<b>Rating: </b> <img src="images/product-details/rating.png" alt="" />#}
                        {#<button type="button" class="btn btn-default pull-right">#}
                            {#Submit#}
                        {#</button>#}
                    {#</form>#}
                {#</div>#}
                {{ render(controller('CatalogBundle:Product:newReview',{'id': product.id })) }}
            </div>
        </div>
        <!--end tab-content-->
    </div>
    <!--end product-tab-->




    </div>
    {% render controller("CatalogBundle:Product:getSame", {'product':product}) %}
    </div>
    </div>
{% endblock %}
