{% if pageCount > 1 %}
    <span class="pull-left">{{ 'showing_pages'|trans({'page_index':current,'page_count':pageCount},'messages') }}:</span>
    <ul class="pagination_list">
    {% if previous is defined %}
        <li class="previous">
            <a class="invarseColor" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" title="Предыдущий">{{ 'pagination.prev'|trans({}, 'CatalogBundle') }}</a>
        </li>
        {% endif %}
        {% for page in pagesInRange %}
            {% if page != current %}
            <li class="page">
                <a class="invarseColor" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </li>
            {% else %}
                <li class="active"><span>{{ page }}</span></li>
            {% endif %}
        {% endfor %}
        {% if next is defined %}
            <li class="next">
            <a class="invarseColor" href="{{ path(route, query|merge({(pageParameterName): next})) }}" title="Следующий">{{ 'pagination.next'|trans({}, 'CatalogBundle') }}</a>
            </li>
        {% endif %}
    </ul>
{% endif %}
