{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/article/css/news.css') }}">
{% endblock %}

{% block body %}

    {# Новости #}
    <h2>Новости</h2>
    {% for n in news %}
        <div class="news_item">
            <div class="news_image">
                <a href="{{ path('article_show_article',{'id':n.id}) }}">
                    <img src="{{ asset('public/img/news/' ~ n.imageurl) }}"/>
                </a>
            </div>
            <div class="news_content">
                <div class="news_title">
                    <a href="{{ path('article_show_article',{'id':n.id}) }}">{{ n.title }}</a>
                </div>
                <div class="news_short_description">
                    {{ n.description|slice(0,150) }}{% if n.description|length > 150 %}<a href="{{ path('article_show_article',{'id':n.id}) }}">...</a>{% endif %}
                </div>

                <div class="news_bottom">
                    <span class="news_bottom_lbl btm_date">{{ n.created | proDate}}</span>
                    <span class="news_bottom_lbl">Комментарии()</span>
                    <span class="news_bottom_lbl btm_viewed">Просмотров {{ n.viewed }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
    {# End: Новости #}
{% endblock %}
