{% extends "::base.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/article/css/news.css') }}">
{% endblock %}

{% block body %}
    <div class="article-block">
        <a href="#">На категории новостей</a>
        <h3 class="article-title">{{ article.title }}</h3>
        <div class="article-info">
            <img src="{{ asset('public/img/news/' ~ article.imageurl) }}"/>
            <div>
                <span class="news_bottom_lbl btm_date">{{ article.created | proDate}}</span>
            </div>
        </div>
        <div class="news_short_description">
            {{ article.description }}
            <br />
            <br />
            <span class="news_bottom_lbl btm_viewed">Просмотров {{ article.viewed }}</span>
        </div>
    </div>
{% endblock body %}